
body{
    font-family:tahoma;
    background-color: #A97045;
    margin:0;
}

header{
    font-size: 36px;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #4B2518;
    gap: 10px;
}

h1{
    font-size: 30px;
    text-align: center;
}

h2{
    font-size: 25px;
}

.img-logo{
    height: 90px;
    width: 100px;
    padding: 10px 20px 20px  20px;
}

img{
    height: 110px;
    width: 120px;
    padding: 10px 20px 20px  20px;
}

.contador{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.contador button {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #555;
    cursor: pointer;
}

.contador span {
    font-size: 16px;
    width: 20px;
    text-align: center;
}

.buttonminus{
    background-color: lightcoral;
}
.buttonplus{
    background-color: lightgreen;
}


.Producto{
    text-align: center;
    margin: 10px;
}

.fila {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
    justify-content: center;
}

.celda {
    background: transparent;
    border: 3px solid #4A2417;
    font-weight: bold;
    padding: 10px 20px;
    min-width: 120px;
    text-align: center;
    border-radius: 25px;
}


/*Rectangulo y sus 3 secciones*/
.rectangulo {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    border-bottom: 5px solid #4B2518;
}

.rectangulo::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("img/logo.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.3;   /* â† ajusta este valor */
    z-index: 1;
}

.rectangulo > * {
    position: relative;
    z-index: 2;
}

.seccion1 {
    flex: 1;
}
.seccion2 {
    text-align: center;
    margin-left: 10px;
    flex: 1.1;
    align-items: center;
    
    font-size: 20;
}
.seccion3 {
    text-align: center;
    flex: 1;
    
    font-weight: bold;
    font-size: 34px;
}

.seccion3 input {
    font-size: 25px;
    width: 250px;
    margin: 10px 0;
    border-radius: 25px;
    padding: 10px;
}

.seccion3 button {
    background-color: #4B2518;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 25px;
    color: white;
}
